{% extends 'main/base.html' %}
{% block title %}
Water Rights Upload
{% endblock %}

{% block content %}
    <h3>Water Rights Boundary Upload</h3>
	<br>

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "water_rights_processing" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<!--        {{ message }}-->
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock %}